<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <app-sidebar 
    [userVideos]="userVideos"
    (userVideoDeleteHandler)="deleteUserVideo($event)"
    (createUserVideoHandler)="addUserVideo($event)"

    (pauseVideoHandler)="pauseVideo($event)"
    (stopVideoHandler)="stopVideo($event)"
    (playVideoHandler)="playVideo($event)"

    (pauseAllVideosHandler)="pauseAll()"
    (stopAllVideosHandler)="stopAll()"
    (playAllVideosHandler)="playAll()"
    ></app-sidebar>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
  
      <!-- <ng-container *ngFor="let video of userVideos"> -->
        <app-youtube-player-component  [userVideos]="userVideos" [height]="250" [width]="350"></app-youtube-player-component>
      <!-- </ng-container> -->
      
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>