<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <i matTooltip="Add New Video" (click)="openAddVideoDialog()" class="oz-fas fas fa-plus"></i>
    <i (click)="stopAll()" matTooltip="Stop All" class="oz-fas fas fa-stop"></i>
    <i (click)="pauseAll()" matTooltip="Pause All" class="oz-fas fas fa-pause"></i>
    <i (click)="playAll()" matTooltip="Play All" class="oz-fas fas fa-play"></i>
  </div>
  <div class="list-group list-group-flush oz-sidebar">

    <a *ngFor="let video of userVideos" class="list-group-item list-group-item-action bg-light">
      <i (click)="deleteVideo(video)" matTooltip="Delete Video" class="oz-fas fas fa-trash"></i>
      <i (click)="stopVideo(video)" matTooltip="Stop Playing" class="oz-fas fas fa-stop"></i>
      <i (click)="pauseVideo(video)" matTooltip="Pause" class="oz-fas fas fa-pause"></i>
      <i (click)="playVideo(video)" matTooltip="Play Video" class="oz-fas fas fa-play"></i>
      {{video?.title}}
    </a>   

  </div>
</div>