<div id="page-content-wrapper">
  <div class="container-fluid">

    <!-- <ng-container *ngFor="let video of userVideos"> -->
      <app-youtube-player-component  [userVideos]="userVideos" [height]="250" [width]="350"></app-youtube-player-component>
    <!-- </ng-container> -->
    
  </div>
</div>