<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">TelebU</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    
    <ng-container *ngIf="isSignedInGoogle">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{currentUser?.name}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/signed/youtube-task']">Youtube Task</a>
          <a class="dropdown-item" [routerLink]="['/signed/form-builder-task']">Form Builder Task</a>
          <a class="dropdown-item" (click)="logOut()">Log Out</a>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isSignedInGoogle">
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="signIn()">Sign In</button>
      </form>
    </ng-container>

  </div>
</nav>

<router-outlet></router-outlet>