<form [formGroup]="formGroup">
  <ng-container *ngFor="let item of formConfig">
    <!-- TEXT -->
    <ng-container *ngIf="item?.type === 'text'">

      <mat-form-field [ngStyle]="item?.styles || {}">
        <mat-label>{{item?.label}}</mat-label>
        <input formControlName="{{item.key}}" matInput type="text" [placeholder]="item?.placeholder || ''"
          autocomplete="{{item?.autocomplete? '' : 'off'}}">
      </mat-form-field>

    </ng-container>
    <!-- END OF TEXT -->

    <!-- TEXTAREA -->
    <ng-container *ngIf="item?.type === 'textarea'">

      <mat-form-field [ngStyle]="item?.styles || {}">
        <mat-label>{{item?.label}}</mat-label>
        <textarea formControlName="{{item.key}}"  matInput type="text" [placeholder]="item?.placeholder || ''"
          autocomplete="{{item?.autocomplete? '' : 'off'}}"></textarea>
      </mat-form-field>

    </ng-container>
    <!-- END OF TEXTAREA -->

    <!-- NUMBER -->
    <ng-container *ngIf="item?.type === 'number'">

      <mat-form-field [ngStyle]="item?.styles || {}">
        <mat-label>{{item?.label}}</mat-label>
        <input formControlName="{{item.key}}" matInput type="number" [placeholder]="item?.placeholder || ''"
          autocomplete="{{item?.autocomplete? '' : 'off'}}">
      </mat-form-field>

    </ng-container>
    <!-- END OF NUMBER -->

    <!-- SWITCH TOGGLE -->
    <ng-container *ngIf="item?.type === 'switch-toggle'">
      <section class="example-section" [ngStyle]="item?.styles || {}">
        <mat-slide-toggle class="example-margin" formControlName="{{item.key}}" >
          {{item?.label}}
        </mat-slide-toggle>
      </section>
    </ng-container>
    <!-- END OF SWITCH TOGGLE -->

    <!-- SELECT -->
    <ng-container *ngIf="item?.type === 'select'">
      <mat-form-field [ngStyle]="item?.styles || {}">
        <mat-label>{{item?.label}}</mat-label>
        <mat-select #select formControlName="{{item.key}}">
          <mat-select-trigger>
            {{select?.value?.key}}
          </mat-select-trigger>
          <mat-option *ngFor="let select of item?.selectValues" [value]="select">{{select?.key}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <!-- END OF SELECT -->

    <!-- CHECKBOX -->
    <ng-container *ngIf="item?.type === 'checkbox'">
      <section class="example-section">
        <mat-checkbox [ngStyle]="item?.styles || {}" *ngFor="let checkboxItem of item?.checkboxValues " class="example-margin" 
          (change)="checkboxValueChange(item, checkboxItem.key, $event.checked)">
          {{checkboxItem?.viewValue}}
        </mat-checkbox>
      </section>
    </ng-container>
    <!-- END OF CHECKBOX -->

  </ng-container>

  <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="formGroup?.invalid">Submit</button>

</form>