<h1 mat-dialog-title>Add Video</h1>
<div mat-dialog-content>
  
  <form [formGroup]="formGroup" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Video Title</mat-label>
      <input matInput placeholder="title" formControlName="title">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Video URL</mat-label>
      <input matInput placeholder="URL here" formControlName="url">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial [disabled]="formGroup.invalid" (click)="save()">Save Video</button>
</div>